.bg-purple {
  background-color: #9849b4;
}

.bg-darkish {
  background-color: #b24ad8;
}

.w-100 {
  width: 100%;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  align-items: stretch;
  /* Ensures children take full width */

}

.flex-centered {
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-white {
  color: white;
}

.flex {
  display: flex;
}


.fat {
  font-weight: 700;
}

.chubby {
  font-weight: 500;
}

.thin {
  font-weight: 300;
}

.smol {
  font-size: 0.8rem;
}

.align-right {
  text-align: right;
  justify-content: end;
  align-items: end;
}

.text-left {
  text-align: left;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.emoji {
  font-size: 34px;
  font-weight: 200;
  color: rgb(131, 0, 138);
  /* Adjust the size as needed */
  /* Add some spacing between the emoji and text */
}

.font-purple {
  color: rgb(131, 0, 138);
  font-weight: 500;
}

.content-center {
  display: flex;
  justify-content: center;
  align-items: center;
  vertical-align: middle;
}

.no-deco {
  text-decoration: none;
}

.brandname {
  display: flex;
  position: relative;

  align-items: center;
  font-size: 1.2rem;
  letter-spacing: 0.05em;
}


.header {
  min-height: 50px;
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 0px;
  /* pin to top */
  position: fixed;
  top: 0;
  z-index: 10000;
  /* background-color: #ae4dd1; */
  background-color: #ad33cc;
}

.header-spacer {
  height: 60px;
}

.header-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}

.header-left, .header-right {
  padding: 10px;
}

.header-left {
  text-align: left;
}

.header-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.white-line {
  width: 95%;
  height: 1px;
  background-color: white;
  opacity: 0.1;
}

.white-line-short {
  width: 75%;
  height: 1px;
  background-color: white;
  opacity: 0.1;
}


.fullwidth {
  min-width: 100vw;
}

.fullheight {
  min-height: 100vh;
}

.test {
  background-color: aqua;
}

.light-bg {
  background-color: #f5f5f5;
  border-radius: 10px;
  color: #9849b4;
}

.font-mono {
  font-family: 'Roboto Mono', monospace;
}

.light-bg-2 {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px solid rgb(131, 0, 138);
  border-radius: 10px;
  color: white;
  border-radius: 3px;
}

.small-box {
  width: 450px;
  max-width: 80vw;
}

.button-k {
  background-color: rgb(0, 146, 243);
  cursor: pointer;
  padding: 7px 20px 7px 20px;
  max-width: 150px;
  color: white;
  border-radius: 5px;
}


/* weird rainbow stuff */

/* .ju367v7o {
  font-weight: 500 !important;
  font-size: 1rem !important;
  letter-spacing: 0.05em;

  color: rgba(255, 255, 255, 0.85) !important;

  padding: 8px 25px !important;
  height: auto !important;

  /* box-shadow: 0 0 3px rgba(229, 223, 232, 0.2) !important; */
/* background: linear-gradient(0deg, #5e2374 0%, #ad33cc 100%) !important;

border-radius: 5px !important;
}

*/