:root {
  max-width: 100vw;
  margin: 0px;
  padding: 0px;
  text-align: center;
  position: absolute;

  font-family: 'Montserrat', sans-serif;
  text-align: center;
  background-color: #b653da;
  color: rgba(247, 221, 255, 0.82);
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  /* Remove body margins */
}